.features{
    background: #1A2A61;
    position: relative;
    z-index: 1;
    padding: 0px 0px;
    overflow: hidden;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}
.plusPattern {
    position: absolute;
    left: 78.54vw;
    top: 0px;
    z-index: -1;
    opacity: 25%;
    
    
}
.feature-cards .feature{
    padding:  20px 32px;

}
.features-top-text {
            /* max-width: 1200px; */
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;

            
        }

        .features-heading {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            padding-top: 40px;
            color: rgba(255, 255, 255, 1);
            max-width: 865px;
        }

        .features-subtitle {
            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 132%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: rgba(255, 255, 255, 1);
            max-width: 505px;

        }

            .features-content{
                display: flex;
                gap:3.9vw;
                justify-content: center;
                
            }

        .feature-cards-container{
            display: flex;
            gap: 12px;
            margin-top: 40px;
        }
        .feature-cards{ 
            display: flex;
            flex-direction: column;
            gap: 36px;
            color: #111827;
            width: fit-content;

        }
        .feature{
            display: flex;
            flex-direction: column;
            gap: 12px;
            text-align: left;
            border-radius: 8px

        }
        .feature h4, .small-feature h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 700;

        }
        .feature p{
            max-width: 432px;
        }
        .feature p, .small-feature p{
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #373D45;
        }
        .green-feature{
            background: #C0E6C8;

        }
        .peach-feature{
            background: #FAEDC9;
        }
        .grey-feature{
            background: #E7F8F7;
        }
        .grey2-feature{
            background: #F1F9FD;
        }
        .green-box{
            background: #C0E6C8;
        }

        
        .screenShot-box-container{
            display: flex;
            flex-direction: column;
            gap: 27px;
            /* max-width: 750px; */
        }
        .screenShot-box{
            /* width: 750px; */
            /* height: 705px; */
            border-radius: 12px;
            padding: 64px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        } 
        .screenShot-box img{
            width: 47vw;
            /* max-width: 650px; */
        }  
        .peach-box{
            background: #FAEDC9;
            padding-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
 


#small-features{
    display: none;
    align-items: center;
    justify-content: center;
}

.featureCards-container-small{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* min-width: 30vw; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    /* column-gap: 27px; */
    gap: 14px;
    align-items: center;
    justify-content: center;
}     
.small-feature{
    padding: 27px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    border-radius: 5.4px;
    max-width: 343px;
}
.small-features-top-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}
.small-features-top-text h2{       
     max-width: 590px;

}

.small-features-text h4{
    text-align: left;
    margin-bottom: 12px;
}
.small-feature img{
        
    width: 319px;
    position: relative;
    align-self: center;

}
