html,body{
    scroll-behavior: smooth;
}
body{
    z-index: -3;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
h2{
    font-size: 48px;
    font-family: "montserrat";
}
a{
    text-decoration: none;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}
button{
    cursor: pointer;
}
header{

    background: rgba(251, 251, 251, 1);

    
}
nav{
    max-width: 1687px;
    display: flex;
    justify-content:space-between;
    padding: 6px 30px 6px 68px;
    margin: auto;
    align-items: center;
}
#btnSignUp{
    background: #4690E5;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    height: 42px;
    width: 139px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-wrap: nowrap;
}
#btnSignUp img{
    height: 24px;
    width: 24px;
}



/* ######################## Hero Section ################################## */
#hero-section {
    background: linear-gradient(#091826,#1A2A61 );
    
    color: rgba(239, 240, 246, 1);
    padding: 40px 18px;    
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
    overflow: hidden;
}

/* ----- hero left ----- */

.hero-txt-btn-box{
    background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.36) 5.12%, rgba(0, 0, 0, 0.0675) 102.99%);
    display: flex;
    flex-direction: column;
    gap: 27px;
    border-radius: 24px;
    padding: 40px 56px;
    width: 48.47vw;
    max-width: 950px;
    backdrop-filter: blur(8px);
    /* align-items: center; */
    justify-content: center;

}

h1{
    font-family: "Montserrat";
font-weight: 700;
font-style: Bold;
font-size: 60px;
line-height: 122%;
letter-spacing: 0px;
text-transform: capitalize;
max-width: 673px;
}
.hero-container{
    display: flex;
    gap: 27px;
}
.hero-text-box{
    display: flex;
    flex-direction: column;
    gap: 40px;  
    

}

.hero-text-box p{
font-family: "DM Sans";
font-weight: 500;
font-style:normal;
font-size: 18px;
line-height: 122%;
max-width: 586px;

}
.hero-btn-box{
    display: flex;
    gap: 8px;
}



.btn{

    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 17px 16px;
    border-radius: 8px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}
#btnDemo{
    background: #5BC6B8;

}
#btnAudit{
background: #4690E5;
}

/* ----- hero right ----- */

.right-images{
     margin-top: 27px;
}
.right-images img{
    width: 45.56vw;
    max-width: 710px;
}

.logos{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 13px 56px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    min-width: 600px ;
    overflow: hidden;
    gap: 92px;
    max-width: 1687px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    margin-left: 12px;

}





