
/* ######### break point ###############*/
 @media(max-width:1280px){

h1{
    font-size: 54px;
}



.growTogether-container{
    
    padding: 27px 45px;
    
    gap: 12px;
    margin: 0px 50px;

}

.growTogether-container h2{
    font-size: 56px;
}
 }

/* ######### 1024px break point ########## */

@media(max-width: 1024px){
    .hero-btn-box{
        flex-direction: column;
    }
    .hero-container{
        gap: 15px;
    }
   
    /* .hero-txt-btn-box{
        padding: 40px 40px;
    } */
    
    h1{
        font-size: 36px;

    }
    .hero-btn-box button{
        font-size: 14px;
    }
    #large-features{
        display: none;
    }
    #small-features{
        display: block;
    }
    .whyUsContainer h2,.features-heading,.whyItMatters-left h2{
        font-size: 36px;
        line-height: 40px;
    }
    .reviews-heading {
        font-size: 36px
    }
    .growTogether-container h2{
    font-size: 45px;
}
.whyItMatters-right img{
    
    width: 42vw;
}
} 

@media(max-width:768px){
    .navLinks,.navBtnGroup{
        display: none;
    }
nav{
    padding: 19px 8px;
    }
nav .logo{
    width: 100px;
}
#hamburger{
    display: block;
}
    .hero-container{
        flex-direction: column;
        align-items: center;

    }
    .hero-txt-btn-box{
        width: 96vw;
        text-align: center;
    }
    .hero-btn-box{
        flex-direction: column;
    }
    .right-images img{
        width: 90vw;
    }
    .whyUsContainer h2,.features-heading,.whyItMatters-left h2{
        font-size: 28px;
        line-height: 38px;
    }
    .whyUsfeatures  {
        flex-direction: column;
        gap: 42px;
    }
    .featureCards-container-small{
        display: flex;
        flex-direction: column;

    }
    
    #small-features{
        max-height: fit-content;
    }
    
    #whyItMatters{
        padding: 0px;
    }
    .whyItMatters-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        
    }
    
    .whyItMatters-container img{
        width: 96.5vw;
        margin-top: 0px;
        margin-bottom: 100px;
        
        
    }
    .whyItMatters-left{
        padding: 0px 32px;
        margin: 40px 0px 0px 0px;
    }
    .whyItMatters-right {
    margin: 0px;
    padding-right: 0px;
}
    .whyItMatters-left .patterns .plusPatterns{
        display: none;

    }
    
.reviews-heading{
    font-size: 36px;
}
#reviews {
    padding: 50px 10px 30px 10px;
}

.growTogether-container {
        padding: 32px 12px 50px 12px;
    }
.growTogether-container h2{
    font-size: 36px;
}
footer {
    padding: 24px 20px 40px 22PX;
}
.contactAndSocial{
    flex-direction: column;
    gap: 42px;
    align-items: flex-start;
    justify-content: left;
}
.bottom-line{
    flex-direction: column;
    gap: 27px;
}

}
 
@media(max-width:600px){

#hero-section{
    gap: 10px;
}
.logos{
    padding: 10px 22px;
    gap: 35px;
    margin-bottom: 32px;
}
.logos img{
    height: 18px;
    
}

.hero-container{
    gap: 10px;
}
h1{
    font-size: 28px;
}
.hero-text-box{
    gap: 12px;
}
.hero-txt-btn-box {
        padding: 28px 32px;
    }
.whyUsContainer{
        padding: 16px 50px;
}
.features{
    margin-top: 0px;
}
    .small-features-top-text{
        text-wrap: wrap;
        padding: 0px 30px;
    }
    .reviews-heading{
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 0.03px;
    }
    .reviews-container{
        gap: 24px;

    }
    #growTogther{
        padding-top: 32px;
        padding-bottom: 64px;
    }
    .growTogether-container .growTogether-pattern{
        left: -216px;
        top: 170px;
    }
    .growTogether-container :nth-child(2){
        width: 198px;
    }
    .growTogether-container h2{
        font-size: 36px;
        line-height: 1.23;

    }
    .growTogether-container{
        margin: 0px 20px;
        gap: 36px;
    }
}


/* contact Us Responsive */

@media(max-width: 1280px){
    .letsTalk h1{
        font-size: 54px;
        line-height: 66px;
    }
    .formContainer{
        max-width: 38vw;
    }
}
@media(max-width: 1024px){
    .letsTalk img{
        width: 350px;
    }
    .letsTalk h1{
        font-size: 48px;
        line-height: 66px;
    }
}
@media (max-width: 768px) {
    
    .contactUs{
        padding: 24px 24px 24px 0px;
        gap: 16px;
    }
    .formContainer{
        padding: 16px;
    }
    .letsTalkText{
        padding: 32px 24px 0px 24px;
    }
    .letsTalk h1{
        font-size: 40px;
        line-height: 52px;
    }
      .faq-container, .faq-contact-block {
        max-width: 97vw;
        margin-left: 1vw;
        margin-right: 1vw;
        padding: 18px 3vw 0 3vw;
        gap: 24px;
      }
      .faq{
        padding: 48px 0px;
      }
      .faq-item{
        padding: 24px;
      }
      .faq-title { font-size: 24px;}
      .faq-contact-block { padding: 32px;}
      .footer { font-size: 0.94rem;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      }
    }
    @media (max-width: 600px) {
      .contactUs{
        flex-direction: column;
        padding-right:0px ;
      }
      .letsTalk{
        width: 92vw;
      }
      .letsTalk h1{
        font-size: 28px;
        line-height: 44px;
        max-width: 400px;
      }
      .letsTalkText p {
        font-size: 14px;
        line-height: 20px;
        max-width: 400px;
      }
      .letsTalk img{
        width: 180px;
      }
      .formContainer{
        max-width: 85vw;
        position: relative;
        align-self: center;
        padding: 24px;
      }
      .formContainer h2{
        font-size: 24px;
        line-height: 24px;
      }
      .formContainer p{
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 16px;
      }
      input[type="text"], input[type="email"], input[type="tel"], select{
        margin-bottom: 12px;
        font-size: 12px;
        padding: 8px 10px;
      }
      label{
        font-size: 12px;
      }
      form button{
        font-size: 14px;
        padding: 10px ;
      }
      .faq-item{
        padding: 16px;
      }
      .faq-subtitle{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .faq-question{
        font-size: 16px;
      }
      .faq-answer{
        font-size: 14px;
      }
    }

    /* pricing responsive */

    @media(max-width:1280px){
        .pricing-container{
            padding: 64px;
        }
        .logos-section{
            padding: 48px 64px;
            height: 181px;
        }
        .logos-container{
            gap: 40px;
        }
        .logos-section img{
            width: 250px;
        }
        .CTA-section{
            padding: 64px 64px;
        }
        footer{
            padding: 24px 64px 40px 64px;
        }
    }

    @media(max-width:1024px){
        
        .pricing-hero-container{
            gap: 24px;
        }
        .pricing-hero-heading{
            font-size: 40px;
            max-width: 700px;
        }
        .pricing-hero-subheading{
            font-size: 18px;
            line-height: 20px;
        }
        .pricing-plans-container{
            gap: 27px;
        }
        .pricing-container{
            padding: 48px;
            gap: 56px;  
        }
        .pricingType-heading :nth-child(1){
            font-size: 18px;
        }
        .pricingType-heading{
            margin-bottom: 12px;
            gap: 6px;
        }
        .pricingType-heading :nth-child(2){
            font-size: 12px;
            padding: 7px 8px;
        }
        .pricingType-price{
            margin-bottom: 24px;
        }
        .pricingType-price :nth-child(1){
            font-size: 24px;
        }
        .pricingType-price :nth-child(2){
            font-size: 14px;
        }
        .pricingType p{
            font-size: 12px;
            line-height: 20px;
        }
        .pricingType a{
            padding: 12px 12px;
            font-size: 12px;
            line-height: 1.2;
        }
        .pricing-table{
            gap: 24px;
        }
        .pricing-table table td,.pricing-table table th{
            font-size: 12px;
        }
        .pricing-table table tr{
            padding: 12px 10px;
        }
        .pricing-table-BtnGroup a{
            font-size: 12px;
            padding: 15px;
            border-radius: 10px;
        }
        .pricing-table-BtnGroup{
            gap: 16px;
            padding: 0px 16px;

        }
        .logos-section{
            padding: 36px 48px;
            height: 151px;
        }
        .logos-section img{
            width: 190px;
        }
        .CTA-section{
            padding: 48px 48px;
            height: 370px;
        }
        .CTA-container{
            gap: 42px;
        }
        .CTA-section h2{
            font-size: 32px;
            line-height: 44px;
        }
        .CTA-left{
            gap: 27px;
        }
        .CTA-left .email-container .email-box {
            width: 243px;
            height: 48px;
        }
        .CTA-left .email-container button{
            height: 48px;
            width: 48px;
        }
        
    .CTA-left .email-container .email-box {
        padding: 0px 12px;
    }
        .CTA-left .email-container .email-box .email-box-left input{
            font-size: 12px;
        }
        .CTA-left .email-container .email-box .email-box-left input::placeholder{
            font-size: 12px;
        }
        .CTA-section .CTA-right img{
            width: 320px;
        }
        footer{
            padding: 24px 48px 40px 48px;
        }
    }
    @media(max-width:768px){
        
        .pricing-hero-container{
            gap: 16px;
        }
        .pricing-hero-heading{
            font-size: 32px;
            line-height: 44px;
            max-width: 490px;
        }
        .pricing-hero-subheading{
            font-size: 18px;
            line-height: 20px;
        }
        .pricing-plans-container{
            gap: 27px;
        }
        .pricing-container{
            padding: 32px;
            gap: 32px;

        }
        .pricing-hero-btnBox{
            width: 238px;
            height: 40px;
            border-radius: 12px;
            padding: 3.5px;
        }
        .pricing-hero-btnBox button{
            font-size: 11px;
            border-radius: 9px;

        }
        .pricingTypesBox{
            gap: 20px;
        }
        .pricingType-heading :nth-child(1){
            font-size: 14px;
            line-height: 20px;
        }
        .pricingType-heading{
            margin-bottom: 8px;
            gap: 6px;
        }
        .pricingType-heading :nth-child(2){
            font-size: 10px;
            padding: 5px 6px;
        }
        .pricingType-price{
            margin-bottom: 12px;
        }
        .pricingType-price :nth-child(1){
            font-size: 20px;
            line-height: 34px;
        }
        .pricingType-price :nth-child(2){
            font-size: 11px;
        }
        .pricingType p{
            font-size: 10px;
            line-height: 20px;
            margin-bottom: 12px;
        }
        .pricingType a{
            padding: 8px;
            font-size: 10px;
            line-height: 1.2;
            border-radius: 6px;
        }
        .pricing-table{
            gap: 12px;
        }
        .pricing-table table td,.pricing-table table th{
            font-size: 10px;
        }
        .pricing-table table tr{
            padding: 12px 10px;
            gap: 20px;
        }
        .pricing-table table tr img{
            height: 12px;
        }
        .pricing-table-BtnGroup a{
            font-size: 10px;
            padding: 12px;
            border-radius: 10px;
            line-height: 14px;
        }
        .pricing-table-BtnGroup{
            gap: 12px;
            padding: 0px 12px;
            height: 75px;

        }
        .logos-section{
            padding: 32px 32px;
            height: 101px;
        }
        .logos-section img{
            width: 150px;
        }
        .CTA-section{
            padding: 32px 32px;
            height: 250px;
        }
        .CTA-container{
            gap: 27px;
        }
        .CTA-section h2{
            font-size: 24px;
            line-height: 30px;
        }
        .CTA-left{
            gap: 16px;
        }
        .CTA-left .email-container .email-box {
            width: 210px;
            height: 32px;
        }
        .CTA-left .email-container button{
            height: 32px;
            width: 32px;
            border-radius: 10px;
        }
        .CTA-left .email-container img{
            height: 13px;
        }
    .CTA-left .email-container .email-box {
        padding: 0px 12px;
        border-radius: 10px;
    }
        .CTA-left .email-container .email-box .email-box-left input{
            font-size: 10px;
        }
        .CTA-left .email-container .email-box .email-box-left input::placeholder{
            font-size: 10px;
        }
        .CTA-section .CTA-right img{
            width: 250px;
        }
        footer{
            padding: 24px 32px 40px 32px;
        }
    }
    @media(max-width:600px){
        
        .pricing-hero-container{
            gap: 12px;
        }
        .pricing-hero-heading{
            font-size: 24px;
            line-height: 30px;
            max-width: 490px;
        }
        .pricing-hero-subheading{
            font-size: 12px;
            line-height: 18px;
        }
        .pricing-plans-container{
            gap: 12px;
        }
        .pricing-container{
            padding: 16px;
            gap: 24px;

        }
        .pricing-hero-btnBox{
            width: 238px;
            height: 40px;
            border-radius: 12px;
            padding: 3.5px;
        }
        .pricing-hero-btnBox button{
            font-size: 11px;
            border-radius: 9px;

        }
        .pricingTypesBox{
            gap: 12px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        #empty{
            display: none;
        }
        .pricingType-heading :nth-child(1){
            font-size: 12px;
            line-height: 16px;
        }
        .pricingType-heading{
            margin-bottom: 6px;
            gap: 3px;
        }
        .pricingType-heading :nth-child(2){
            font-size: 8px;
            padding: 4px 5px;
        }
        .pricingType-price{
            margin-bottom: 8px;
        }
        .pricingType-price :nth-child(1){
            font-size: 16px;
            line-height: 16px;
        }
        .pricingType-price :nth-child(2){
            font-size: 8px;
            line-height: 8px;
        }
        .pricingType p{
            font-size: 8px;
            line-height: 12px;
            margin-bottom: 8px;
        }
        .pricingType a{
            padding: 6px 4px;
            font-size: 8px;
            line-height: 1.1;
            border-radius: 5px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .pricing-table{
            gap: 8px;
        }
        .pricing-table table td,.pricing-table table th{
            font-size: 7px;
            line-height: 8px;
        }
        .pricing-table table tr{
            padding: 3px;
            gap: 12px;
        }
        .pricing-table table tr img{
            height: 8px;
        }
        .pricing-table-BtnGroup a{
            font-size: 8px;
            padding: 6px 8px;
            border-radius: 6px;
            line-height: 10px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .pricing-table-BtnGroup{
            gap: 12px;
            padding: 16px 12px 0px 12px;
            height: auto;

        }
        .logos-section{
            padding: 12px;
            height: 50px;
            overflow: hidden;
            
        }
        .logos-section img{
            width: 100px;
        }
        .CTA-section{
            padding: 24px 24px 0px 24px;
            height: fit-content;
        }
        .CTA-container{
            flex-direction: column;
            gap: 4px;
            align-items: center;
        }
        .CTA-section h2{
            font-size: 20px;
            line-height: 24px;
            text-align:center ;
        }
        .CTA-left{
            gap: 16px;
            align-items: center;
        }
       
        .CTA-left .email-container .email-box .email-box-left input{
            font-size: 10px;
            padding: 0px;
            margin: 0px;
        }
        
        footer{
            padding: 24px 32px 40px 32px;
        }
    }

    /* Terms and Conditions resposiveness */
    @media(max-width:1024px){
        .TAC-heading-container{
            margin: 27px 0px 36px 0px;
            height: 230px;
        }
        .TAC-heading-container h1{
            font-size: 36px;
            line-height: 48px;
            letter-spacing: 0px;
        }
        .TAC-heading-container img{
            height: 90%;
        }
        .TAC-Content-container{
            padding: 0px 64px 48px 16px;
        }
        .TAC-content-sidebar{
            padding: 12px 4px 12px 4px;
            top: 24px;
        }
        .TAC-content-sidebar ul li a{
            padding: 12px 8px;
        }
    }

@media(max-width:768px){
    .TAC-heading-container{
            margin: 27px 0px 36px 0px;
            height: 190px;
        }
        .TAC-heading-container h1{
            font-size: 30px;
            line-height: 42px;
            letter-spacing: 0.1px;
        }

        .TAC-Content-container{
            padding: 0px 48px 36px 16px;
            gap: 24px;
        }
        .TAC-Content-container a{
            font-size: 14px;
        }
        .TAC-content-sidebar{
            padding: 12px 4px 12px 4px;
            gap: 12px;
            top: 16px;
        }
        .TAC-content-sidebar ul li a{
            padding: 8px 8px;
            font-size: 14px;
            line-height: 20px;
            min-width: 175px;
        }

        .TAC-text-box{
            gap: 16px;
        }
        .TAC-text-box h2{
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.5px;
        }
        .TAC-text-box p{
            font-size: 14px;
        }
        .TAC-tableOfContents{
            margin-top: 16px;
            margin-bottom: 24px;
        }
        .TAC-tableOfContents .heading{
            padding-left: 16px;
        }
        .TAC-tableOfContents .heading h2{
            font-size: 24px;
        }
        .TAC-tableOfContents ul li a{
            padding: 8px 24px;
        }
}
@media(max-width:600px){
    .TAC-heading-container{
            margin: 16px 0px 24px 0px;
            height: 100px;
            border-radius: 16px;
        }
        .TAC-heading-container h1{
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.2px;
        }

        .TAC-Content-container{
            padding: 0px 24px 24px 8px;
            gap: 10px;
        }
       
        .TAC-content-sidebar{
            padding: 10px 4px 10px 4px;
            gap: 12px;
            top: 16px;
        }
        .TAC-content-sidebar ul li a{
            padding: 4px 6px;
            font-size: 10px;
            line-height: 12px;
            min-width: 122px;
            border-radius: 4px;
        }

        .TAC-text-box{
            gap: 8px;
        }
        .TAC-text-box h2{
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.3px;
        }
        .TAC-text-box p{
            font-size: 12px;
            line-height: 18px;
        }
        .TAC-tableOfContents{
            margin-top: 12px;
            margin-bottom: 16px;
            gap: 4px;
        }
        .TAC-tableOfContents .heading{
            padding-left: 10px;
            border-width: 2px;
        }
        .TAC-tableOfContents .heading h2{
            font-size: 18px;
            line-height: 20px;
        }
        .TAC-tableOfContents ul li a{
            padding: 4px 16px;
            font-size: 12px;
        }
        .TAC-Terms-container{
            gap: 16px;
        }
}