
/* ######### break point ###############*/
 @media(max-width:1280px){

h1{
    font-size: 54px;
}
.feature-cards-container{
    margin-top: 30px;
}
.screenShot-box{
            
            width: 42vw;
            
            padding-top: 120px;
        } 
        .screenShot-box img{
            width: 35vw;
            
        }  
    
     .feature-cards .feature{
        padding: 20px 12px;
     }

     .growTogether-container{
    
    padding: 27px 45px;
    
    gap: 12px;
    margin: 0px 50px;

}

.growTogether-container h2{
    font-size: 56px;
}
 }

/* ######### 1024px break point ########## */

@media(max-width: 1024px){
    .hero-btn-box{
        flex-direction: column;
    }
    .hero-container{
        gap: 15px;
    }
   
    /* .hero-txt-btn-box{
        padding: 40px 40px;
    } */
    
    h1{
        font-size: 36px;

    }
    .hero-btn-box button{
        font-size: 14px;
    }
    #large-features{
        display: none;
    }
    #small-features{
        display: block;
    }
    .whyUsContainer h2,.features-heading,.whyItMatters-left h2{
        font-size: 36px;
        line-height: 40px;
    }
    .reviews-heading {
        font-size: 36px
    }
    .growTogether-container h2{
    font-size: 45px;
}
.whyItMatters-right img{
    
    width: 42vw;
}
} 

@media(max-width:768px){
    .navRight{
        display: none;
    }
nav{
    padding: 19px 8px;
    }
    .hero-container{
        flex-direction: column;
        align-items: center;

    }
    .hero-txt-btn-box{
        width: 96vw;
        text-align: center;
    }
    .hero-btn-box{
        flex-direction: column;
    }
    .right-images img{
        width: 90vw;
    }
    .whyUsContainer h2,.features-heading,.whyItMatters-left h2{
        font-size: 28px;
        line-height: 38px;
    }
    .whyUsfeatures  {
        flex-direction: column;
        gap: 42px;
    }
    .featureCards-container-small{
        display: flex;
        flex-direction: column;

    }
    
    
    #whyItMatters{
        padding: 0px;
    }
    .whyItMatters-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        
    }
    
    .whyItMatters-container img{
        width: 96.5vw;
        margin-top: 0px;
        margin-bottom: 100px;
        
        
    }
    .whyItMatters-left{
        padding: 0px 32px;
        margin: 40px 0px 0px 0px;
    }
    .whyItMatters-right {
    margin: 0px;
    padding-right: 0px;
}
    .whyItMatters-left .patterns .plusPatterns{
        display: none;

    }
    
.reviews-heading{
    font-size: 36px;
}
#reviews {
    padding: 50px 10px 30px 10px;
}

.growTogether-container {
        padding: 32px 12px 50px 12px;
    }
.growTogether-container h2{
    font-size: 36px;
}
footer {
    padding: 24px 20px 40px 22PX;
}
.contactAndSocial{
    flex-direction: column;
    gap: 42px;
    align-items: flex-start;
    justify-content: left;
}
.bottom-line{
    flex-direction: column;
    gap: 27px;
}

}
 
@media(max-width:600px){

#hero-section{
    gap: 10px;
}
.logos{
    padding: 10px 22px;
    gap: 35px;
    margin-bottom: 32px;
}
.logos img{
    height: 18px;
    
}

.hero-container{
    gap: 10px;
}
h1{
    font-size: 28px;
}
.hero-text-box{
    gap: 12px;
}
.hero-txt-btn-box {
        padding: 28px 32px;
    }
.whyUsContainer{
        padding: 16px 50px;
}
.features{
    margin-top: 0px;
}
    .small-features-top-text{
        text-wrap: wrap;
        padding: 0px 30px;
    }
    .reviews-heading{
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 0.03px;
    }
    .reviews-container{
        gap: 24px;

    }
    #growTogther{
        padding-top: 32px;
        padding-bottom: 64px;
    }
    .growTogether-container .growTogether-pattern{
        left: -216px;
        top: 170px;
    }
    .growTogether-container :nth-child(2){
        width: 198px;
    }
    .growTogether-container h2{
        font-size: 36px;
        line-height: 1.23;

    }
    .growTogether-container{
        margin: 0px 20px;
        gap: 36px;
    }
}