#whyItMatters {
    padding:10px 0px 0px 20px;
    position: relative;
    background-color: #fafffb;
}

.whyItMatters-container{
    
    background-color: rgba(241,249,253,255);
    display: flex;
    justify-content: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
}
.whyItMatters-left{
   margin: 200px 0px 0px 20px;
   overflow: hidden;

}

.whyItMatters-left .text{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.whyItMatters-left h2{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 60px;
    vertical-align: middle;
    color: rgba(26, 42, 97, 1);

}

.whyItMatters-container p{

    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(55, 61, 69, 1);
    max-width: 445px;
        
}

.whyItMatters-left .patterns{
    display: flex;
    position: relative;
    left: -40px;
    
}
.whyItMatters-left .patterns .plusPatterns{
    margin-top: 5px;
    opacity: 0.04;
    width: 21vw;
}
.whyItMatters-right{
    margin: 100px 0px 0px 0px;
    padding-right: 20px ;
    max-width: 920px;
    
}
.whyItMatters-right img{
    width: 49.26vw;
}



