.features{
    background: #1A2A61;
    position: relative;
    z-index: 1;
    padding: 0px 0px;
    overflow: hidden;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 77px;
    max-height: 1220px;
}
.plusPattern {
    position: absolute;
    left: 78.54vw;
    top: 0px;
    z-index: -1;
    opacity: 25%;
    
    
}
.feature-cards .feature{
    padding:  20px 32px;

}
.features-top-text {
            /* max-width: 1200px; */
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;

            
        }

        .features-heading {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            padding-top: 40px;
            color: rgba(255, 255, 255, 1);
            max-width: 865px;
        }

        .features-subtitle {
            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.315;
            text-align: center;
            vertical-align: middle;
            color: rgba(255, 255, 255, 1);
            max-width: 505px;

        }

            .features-content{
                display: flex;
                gap:46px;
                justify-content: center;
                padding: 0px 32px 0px 10px;
                overflow: scroll;
                scroll-behavior: smooth;
                
            }
/* list number */
.list-numbers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.list-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.list-number:hover{
    transform: scale(103%);
}
.list-number-inner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.list-number.active{
    border: 3.19px solid;
    background-color: transparent;
}
.list-number-inner.active{
    border: 3.19px solid;
    height: 52.5px;
    width: 52.5px;
}
.list-number span{
    font-family: "Lato";
    font-size: 35px;
    font-weight: 700;
    color: #040D09;

}
.list-line{
    margin-top: 2px;
    height: 102px;
    width: 1.5px;
    border-radius: 2px;
    background-color: #dfdfdf;
    z-index: -1;
}
.greenBorder.active{
    border-color: #28A745;
}
.peachBorder.active{
    border-color: #e1a500;
}
.greyBorder.active{
    border-color: #00d3c5;
}
.grey2Border.active{
     border-color: #0093dc;
}


        .feature-cards-container{
            display: flex;
            gap: 21px;
            margin-top: 21px;
            position: sticky;
            top:25px;
        }
        .feature-cards{ 
            display: flex;
            flex-direction: column;
            gap: 36px;
            color: #111827;
            width: fit-content;

        }
        .feature{
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-align: left;
            line-height: 1.5;
            border-radius: 8px;
            transition: 0.2s ease-in-out;

        }
        .feature h4, .small-feature h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 700;
            vertical-align: top;
            color: rgba(0,0,0,1);
        }
        .feature p{
            max-width: 432px;
        }
        .feature p, .small-feature p{
            vertical-align: top;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: rgba(0,0,0,1);
        }
        .feature:hover{
            transform: scale(101%);
        }
        .green-feature{
            background: #C0E6C8;

        }
        .peach-feature{
            background: #FAEDC9;
        }
        .grey-feature{
            background: #E7F8F7;
        }
        .grey2-feature{
            background: #F1F9FD;
        }
        .green-box{
            background: #C0E6C8;
        }

        
        .screenShot-box-container{
            display: flex;
            flex-direction: column;
            gap: 27px;
            width: 54.083%;
            overflow: scroll;
            scroll-behavior: smooth;
            
        }
        
        .screenShot-box-container::-webkit-scrollbar,.features-content::-webkit-scrollbar  {
            display: none;  /* Chrome, Safari, and Opera */
        }
        .screenShot-box{
            width: 100%;
            border-radius: 12px;
            padding: 64px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        } 
        .screenShot-box img{
            width: 100%;
        }  
        .peach-box{
            background: #FAEDC9;
            padding-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
 

/* features below 1024px vw */
#small-features{
    display: none;
    align-items: center;
    justify-content: center;
}

.featureCards-container-small{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    gap: 14px;
    align-items: center;
    justify-content: center;
}     
.small-feature{
    padding: 27px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    border-radius: 5.4px;
    max-width: 343px;
}
.small-features-top-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}
.small-features-top-text h2{       
     max-width: 590px;

}

.small-features-text h4{
    text-align: left;
    margin-bottom: 12px;
}
.small-feature img{
        
    width: 319px;
    position: relative;
    align-self: center;

}
